.carousel-container {
  width: 100%;
  max-width: 100%;
  height: 600px;
  margin: auto;
  margin-top: 38px;
  overflow: hidden;
}

.carousel-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

@media (max-width: 768px) {
  .carousel-container {
    height: 300px;
  }
}
